.topContainer {
  background-color: #808080;
}

@media (min-width: 577px) {
  .topContainerInner {
    box-shadow: 0 0 4px 4px black;
    margin-top: 10px;
    background: orange;
    padding: 4%;
    transition: all 500ms;
  }
}

@media (max-width: 576px) {
  .topContainerInner {
    width: 100%;
    box-shadow: 0 0 4px 4px black;
    background: orange;
    padding: 4%;
    transition: all 500ms;
  }
}

.TopContainer {
  background: linear-gradient(to right, #b4b4b4, #515151);
}

.logoMaxHeight {
  height: 172px;
}

.shadowTopContainer {
  box-shadow: 0 0 15px -6px black;
  padding-bottom: 0 !important;
}

.smborder {
  border: 1px solid #dcdcdc;
}

.row.fontColor {
  color: white;
}

@media (min-width: 350px) {
  .borderLeft {
    border-left: none;
  }
}

@media (min-width: 350px) {
  .borderRight {
    border-right: none;
  }
}

.smborder a{
  color: #fff;
  text-decoration: none;
  transition: all 500ms;
}
.smborder a:hover{
  text-shadow: 3px 3px 3px #000000;
}
